body {
    height: 100vh;
    background: url('https://LeonardoDevBa.github.io/pagina-I/files/imagemDeFundo.jpg');
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.central{
    width: 500px;
    background-color:rgba(255, 255, 255, 0.445);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 1px solid cornflowerblue;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: #000;
    text-align: center;
    margin-bottom: 40px;
}

.central input{
    width: 400px;
    height: 30px;
    border-radius: 6px;
    border: 1px solid cornflowerblue;
}
.central button{
    width: 180px;
    height: 30px;
    border-radius: 6px;
    border: 1px solid cornflowerblue;
    background-color: cornflowerblue;
    color: white;
    font-size: 20px;
    cursor: pointer; 
    cursor: pointer;
}
.central button:hover{
    background-color: #1e90ff;
    transition: 0.3s;
}
.central p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 19px;
    color: #000;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}